body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    gap: 10px;
}

.dropZoneContainer {
    display: grid;
    gap: 10px;
    border: solid 2px black;
    padding: 2px;
}

.dropZone {
    background-color: aquamarine;
    width: 350px;
    height: 200px;
}

.dragble {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 2px black;
    padding: 2px;
    width: 350px;
    height: 410px;
}

img {
    width: 350px;
    height: 200px;
    cursor: grab;
}

