body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dropZoneContainer {
    display: flex;
    align-items: center;
    border: solid 2px black;
    padding: 2px;
}

.dropZone {
    width: 250px;
    height: 200px;
}

#dropZone1 {
    background: url(/images/Beetle-L.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

#dropZone2 {
    background: url(/images/Beetle-R.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .5;
}

.yellowBorder {
    border: solid 1px yellow;
    box-shadow: 1px 1px 3px #202020;
    transform: scale(1.05);
}

.redBorder {
    border: solid 1px rgb(252, 40, 40);
    box-shadow: 1px 1px 3px #f1454e;
}

.dragble {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    border: solid 2px black;
    padding: 2px;
    width: 350px;
    height: 410px;
}

img {
    width: 250px;
    height: 200px;
    cursor: grab;
}



